*{
    /* outline: 1px solid black; */
    max-width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
html{
    width: 100%;
}
section {
    background-color: White;
    width: 100%;display: flex; flex-wrap: wrap;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding:0px;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
}


li{
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2{
    font-size: 50px;
}

p{
    margin:0;
    font-size: 30px;
    font-weight: 300;
}
.nav-list{
    margin-left: 250px;  
}
.nav-item{
    margin: 20px 0px 60px 0;
    padding-right: 40px; 
   
}
a{
    white-space: nowrap;
}
.hero-area{
    display: flex;   
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 40px;
    margin-bottom: 200px;
}

.button{ 
    width:200px;
    height: 55px;
    border-radius: 40px;
    background-color: coral;
    text-align: center;  
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: #A9A9A9;
    color: #808080;
}

.socials{
    padding-bottom: 200px;
    position:relative;
}

.logo{
    height: 120px;
    margin: 30px;
    min-width: 50px;
}

.social{
    margin: 10px;
    margin-right: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around; 
    padding: 0px;
    width: 100%
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    width: 100vw;
    overflow: hidden;
}

.headshot{
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(116, 115, 114);
    margin: 10px;
    background-color: rgb(255, 175, 110);
    border-radius: 12px;
    overflow: hidden;
}

.project-container{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    width: 100%;
} 

a{
    text-decoration: none;
    color: white;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

.project-image{
    margin-top: 25px;
    width: 250px;
    border-radius: 25px;
}
.nav-item>a:hover {
    display: inline-block;
    transform: rotate3d(1, 2, 3, 5deg);
}

@media only screen and (max-width: 1000px){
    *{
        margin: 0;padding:0;
        overflow-x: hidden;
    }
    .hamburger{
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    align-self: flex-end ;
    margin-right: 10spx;
    
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show{
        display: block;
    }
    
    nav{
        align-items: center;        flex-direction: column-reverse;
        background-color: #2b2c38;
        position: absolute;
    }
   #nav-list{
    margin: 0; padding: 0; 
   }
   .nav-item{
    margin: 19px;
   }
   a{
    margin: 0px; padding: 0;
   }
    .logo {
        display: none;
    }
    .socials{
        display: none;
    }

    .hero-text{
        font-size: 10px;
    }
   h1{
    margin: 10px;
   }
    p{
        margin: 10px;
        font-size: 1.6rem;
    }
}

svg{
    margin: 0px;
}

.animate{
    stroke-dasharray: 2190;
    stroke-dashoffset: 2190;
    animation: sign 4s ease;
    animation-fill-mode: forwards; /* allows sig to stay on screen */
}
@keyframes sign {
    to{
        stroke-dashoffset: 0;
    }
}

/* text color changes */
/* #text {
    animation: color-change 5s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes color-change {
    0% { color: rgb(255, 149, 67); }
    100% { color: rgb(4, 213, 255); }
  } */
